.profile-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.profile-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profiles {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-gap: 0.5rem;
  gap: 0.5rem;
}

.profile {
  border-radius: 4px;
  border: 1px solid #50b9d3;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile:nth-child(odd) {
  background-color: #50b9d35d;
}

.profile:hover {
  background-color: #f3f3f3;
  border: 1px solid #14b1e0;
}

@media only screen and (min-width: 768px) {
  .profile-col {
    width: 48%;
  }

  .profile {
    flex-direction: row;
    flex-wrap: unset;
  }
}
